{{- if .Values.gobalImagePullSecret }}
apiVersion: batch/v1
kind: Job
metadata:
  name: gobal-image-pull-secret
  annotations:
    argocd.argoproj.io/sync-wave: "40"
  namespace: {{.Values.spec.eventManager.namespace}}
spec:
  template:
    spec:
      containers:
        - name: config
          image: quay.io/openshift/origin-cli:latest
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "500Mi"
              cpu: "500m"
            limits:
              memory: "500Mi"
              cpu: "500m"
          command:
            - /bin/sh
            - -c
            - |
              set -eo pipefail
              set -x

              CP_STG_USER={{.Values.cpStgUser}}
              CP_STG_KEY={{.Values.cpStgKey}}

              if [ "$CP_STG_KEY" == "" ]; then
                  echo "Need image pull secret for internal build: CP_STG_KEY"
                  exit 1
              fi

              CP_STG_USER="${CP_STG_USER:=iamapikey}"
              CP_STG_AUTH="$CP_STG_USER:$CP_STG_KEY"

              # Extract the existing pull secret from cluster
              rm -rf ${HOME}/.dockerconfigjson
              oc extract secret/pull-secret -n openshift-config --to ${HOME} --confirm
              if [[ $? -ne 0 ]]; then
                  logger "[ERROR] Failed to extract existing pull-secret!"
                  return 1
              fi

              oc registry login --registry cp.stg.icr.io \
              --auth-basic=$CP_STG_AUTH \
              --to=${HOME}/.dockerconfigjson

              # Apply the new secret
              oc set data secret/pull-secret --from-file .dockerconfigjson=${HOME}/.dockerconfigjson -n openshift-config

              wait_time=40
              # master nodes
              sleep $wait_time
              num_masters=$(oc get machineconfigpools master --no-headers -o custom-columns=":status.machineCount")
              num_masters_ready=$(oc get machineconfigpools master --no-headers -o custom-columns=":status.readyMachineCount")
              # worker nodes
              num_workers=$(oc get machineconfigpools worker --no-headers -o custom-columns=":status.machineCount")
              num_workers_ready=$(oc get machineconfigpools worker --no-headers -o custom-columns=":status.readyMachineCount")
              attempt=1
              if [ $num_masters_ready -lt $num_masters ]; then
                while [[ $num_masters_ready -lt $num_masters ]] && [[ $attempt -le $attempts ]]
                do
                  echo "Not all master nodes updated"
                  echo "$num_masters_ready/$num_masters master nodes currently ready - $attempt/$attempts"
                  ((attempt=$attempt+1))
                  sleep $wait_time
                  num_masters_ready=$(oc get machineconfigpools master --no-headers -o custom-columns=":status.readyMachineCount")
                done
              else
                echo "All master nodes updated"
              fi
              attempt=1
              if [ $num_workers_ready -lt $num_workers ]; then
                while [[ $num_workers_ready -lt $num_workers ]] && [[ $attempt -le $attempts ]]
                do
                  echo "Not all worker nodes updated"
                  echo "$num_workers_ready/$num_workers worker nodes currently ready - $attempt/$attempts"
                  ((attempt=$attempt+1))
                  sleep $wait_time
                  num_workers_ready=$(oc get machineconfigpools worker --no-headers -o custom-columns=":status.readyMachineCount")
                done
              else
                echo "All worker nodes updated"
              fi

              cat <<EOF | kubectl apply -f -
              apiVersion: operator.openshift.io/v1alpha1
              kind: ImageContentSourcePolicy
              metadata:
                name: mirror-config
              spec:
                repositoryDigestMirrors:
                  - mirrors:
                      - cp.stg.icr.io/cp/noi
                    source: cp.icr.io/cp/noi
                  - mirrors:
                      - cp.stg.icr.io/cp
                    source: docker.io/ibmcom
                  - mirrors:
                      - cp.stg.icr.io/cp
                    source: icr.io/cpopen
              EOF

      restartPolicy: Never
      serviceAccountName: openshift-argocd-admin-noi
  backoffLimit: 1
{{- end }}