{{- if .Values.spec.eventManager.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: noi-service-account
  namespace: {{.Values.spec.eventManager.namespace}}
imagePullSecrets:
- name: ibm-entitlement-key
{{- end }}