{{- if .Values.spec.eventManager.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-diff-sa
  namespace: {{.Values.spec.eventManager.namespace}}
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  resource.customizations.ignoreDifferences.v1_ServiceAccount: |
    jqPathExpressions:
    - '.imagePullSecrets'
{{- end }}