name: Release Charts

on:
  push:
    branches:
      - release-3.4
    paths:
      - 'config/**'

  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser for CP4WAIOps 3.4
        uses: helm/chart-releaser-action@v1.3.0
        with:
          version: v1.3.0
          charts_dir: 'config'
        env:
          CR_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
